@import '__mixin';

.heading {
    @include center;
    @include column;
    h1 {
        color: $head-color;
        text-align: center;
        margin-top: 50px;
        font-family: 'roboto mono';
        font-weight: bold;
        text-decoration: underline;
        
    }
}

.about {
    display: flex;
    @include row;
    flex-wrap: wrap;
    align-items: center;
    .about-left {
        width: 50%;
        img {
            width: 85%;
            height: 60vh;
            margin-left: 40px;
            border-radius: 10px;
            margin-top: 20px;
        }
    }

    .about-right {
        width: 50%;
        p {
            color: $color;
            margin-right: 50px;
        }

        span {
            
            background: $head-color;
            font-family: 'Nunito';
            display: flex;
            justify-content: start;
            align-items: center;
            width: 100px;
            padding: 8px 15px;
            color: $color;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            transition: .5s;
            
        }
        span:hover {
            background: $color;
            color: #000;
        }
    }
}