// container-6 code............
// .display{
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
.container-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    // @extend .display;
    margin-top: 10%;

    .social-media {
        display: flex;
        justify-content: center;
        align-items: center;
        // @extend .display;
        width: 90%;
        height: 30vh;
        background-color: $bg-color-222;
        border-radius: 15px;
        padding: 15px;
        gap: 35px;
    }
    .social-media img:hover {
        background-color:$bg-color-blue;
        transform: scale(0.9);
    }
    .social-media img {
        vertical-align: middle;
        object-fit: cover;
        width: 90px;
        height: 90px;
        background-color: $bg-color-white;
        padding: 25px;
        transition: transform 0.4s;
        border-radius: 15%;
    }
}