// logo code..........................
.nav-logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10%;
}
// navbar code .................
body,
nav {
    margin: 0;
    padding: 0;

}
@mixin justify($sp){
    display: flex;
    justify-content:$sp;
    align-items: center;
}
nav {
    @include justify(space-between);
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // background-color: orangered;
    background: #000;
    z-index: 1000;
    position: fixed;
    padding: 5px;
    top: 0;
    left: 0;
    width: 100%;
}

ul {
    @include  justify(center);
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

ul li {
    list-style: none;
    margin-left: 5%;
}

ul li a {
    text-decoration: none;
    font-size: 25px;
    color: $color-white;
    padding: 20px;

}

ul a:hover {
    color: rgba(255, 255, 255, 0.533);
}

ul a {
    margin-top: 10%;
}

.home a {
    color: $color-orange;
    border-bottom: 3px solid $bg-color-orange;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $bg-color-shap;
    min-width: 160px;
    z-index: 1;
    top: 90px;
}

.dropdown-content li a {
    text-align: start;
}

.dropdown-content li a:hover {
    color: $color-gray;
}

.nav-item.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}

.dropdown-content li a {
    color: $color-white;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 20px;
}

.dropdown-content li {
    width: 120px;
    border-bottom: 2px dotted $bg-color-orange;
    margin-bottom: 10px;
    margin-right: 10px;
}

.btn a {
    color: $color-white;
    font-weight: bold;
    text-decoration: none;
}

.btn1 {
    background-color: #2f354200;
    border-radius: 10px;
    border: 2px solid  $bg-color-white;
    padding: 10px 20px;
    font-size: 16px;
    transition: transform 0.4s;
}

.button {
    display: flex;
    padding: 20px;
    gap: 15px;
}

.button {
    display: flex;
    padding: 20px;
    gap: 15px;

    .btn1 {
        border-radius: 10px;
        border: 2px solid $bg-color-orange;
        padding: 10px 20px;
        font-size: 16px;
        transition: transform 0.4s;
    }

    .btn4 {
        border-radius: 10px;
        padding: 10px 30px;
    }

    .btn {
        border: 1px solid $bg-color-orange;
        background: none;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
        margin: 10px;
        transition: 0.8s;
        position: relative;
        overflow: hidden;

        a {
            color: $color-white;
            font-weight: bold;
            text-decoration: none;
        }
    }

    .btn::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 0%;
        background: $bg-color-orange;
        z-index: -1;
        transition: 0.8s;
    }


    .btn4::before {
        bottom: 0;
        border-radius: 0% 0% 0 0;
    }

    .btn4::before {
        height: 180%;
    }

    .btn4:hover::before {
        height: 0%;
    }

    .btn1:hover {
        color: $color-orange;
    }

    .btn1::before {
        top: 0;
        border-radius: 0 0 0% 0%;
    }

    .btn1:hover::before,
    .btn2:hover::before {
        height: 180%;
    }

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $bg-color-shap;
    min-width: 160px;
    z-index: 1;
    top: 90px;
}

.dropdown-content li a {
    text-align: start;
}

.dropdown-content li a:hover {
    color: $color-gray;
}

.nav-item.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}

.dropdown-content li a {
    color: $color-orange;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 20px;
}
.dropdown-content li {
    width: 120px;
    border-bottom: 2px dotted $bg-color-orange;
    margin-bottom: 10px;
    margin-right: 10px;
}
  

#icon {
    background-color: #888;
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease;
}

#icon svg {
    color: white;
    height: 28px;
    transition: all .3s ease;
}

#icon:hover {
    background: white;
}

#icon:hover svg {
    color: #0075FF;
}

#checkbox,
#icon {
    display: none;
}

/* Youtube link */
.link {
    position: fixed;
    background-color: #D12322;
    padding: 23px 40px;
    right: -100px;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-90deg);
    font-size: 18px;
    font-weight: 500;
    color:white ;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .1s ease-in-out;
}
.link i {
    padding-left: 7px;
}
.link:hover {
    text-decoration: underline;
    background-color: black;
}
