//container-2 code..............
@mixin display($align){
    display: flex;
    justify-content: center;
    align-items: $align;
}
.container-2 {
      
    // display: flex;
    // justify-content: center;
    // align-items: center;
    @include  display(center);
    height: 50vh;
    width: 96%;
    margin-top: 10%;
    margin-left: 2%;
    background-color: $bg-color-111;
    color: $color-white;

    .line-1 {
        width: 5px;
        height: 35vh;
        background-color: $bg-color-line-1;
    }

    .line-2 {
        width: 4px;
        height: 35vh;
        background-color: $bg-color-line-1;
    }

    .content {
        @include display(start);
        // display: flex;
        // justify-content: center;
        // align-items: start;
        flex-direction: column;
        padding: 25px;

        h3 {
            font-size: 30px;
            margin-bottom: 20px;
            color: $color-orange
        }

        p {
            text-align: start;
            font-size: 18px;
        }
    }
}

//code link video youtube ..............
body {
    background-color: $bg-color-333;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

// container-1 code.................
.container-1 {
    @include display(center);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    gap: 20px;
    margin: 30px;
    margin-top: 10%;
}

.text h2 {
    color:$color-orange;
    font-size: 35px;
}

.text {
    color: $color-white;

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    .btn {
        margin-top: 15px;
        padding: 10px 30px;
        border: none;
        font-size: 20px;
        background-color: $bg-color-white;
        border-radius: 10px;
        color: $color-222;
        border: none;
        outline: none;
        position: relative;
        cursor: pointer;
    }

    .btn.btn-background-slide::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-color: $bg-color-orange;
        border-radius: 10px;
        border: none;
        transition: transform 500ms ease-in-out;
        transform: scaleX(0);
        transform-origin: left;
    }

    .btn.btn-background-slide:hover::before,
    .btn.btn-background-slide:focus::before {
        transform: scaleX(1);
    }

    .btn.btn-background-slide {
        transition: color 300ms ease-in-out;
        z-index: 1;
    }

    .btn.btn-background-slide:hover,
    .btn.btn-background-slide:focus {
        color: $color-white;
    }

    font-family: system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;

    .line {
        background-color: $bg-color-orange;
        border-radius: 20px;
        height: 3px;
        width: 370px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    p {
        font-size: 17px;
    }

}



//container-3 code................
.container-3 {
    @include display(center);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    color: $color-white;
    margin-top: 5%;
    width: 100%;

    .main-ticket {
        width: 100%;
    }

    .line-3 {
        @include display(center);
        // display: flex;
        // justify-content: center;
        // align-items: center;
        background-color: $bg-color-orange;
        height: 3px;
        width: 350px;
        margin-left: 37%;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
    }

    .content-1 {
        text-align: center;

    }

    h2 {
        font-size: 30px;
        color: $color-white;
    }

    .card {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        @include display(center);
        flex-wrap: wrap;
        padding: 10px;

        .date {
            h3 {
                font-size: 30px;
            }

            // display: flex;
            // justify-content: center;
            // align-items: center;
            @include display(center);
            flex-direction: column;
            padding: 10px;
            font-size: 20px;
            width: 150px;
            height: 15vh;
            background-color: $bg-color-orange;

        }

        .event {
            // display: flex;
            padding: 10px;
            // justify-content: center;
            // align-items: center;
            @include display(center);
            background-color: $bg-color-event;

            .event-song {
                text-align: start;

                h3 {
                    font-size: 30px;
                }

                font-size: 20px;
                width: 250px;
                height: 15vh;
            }

            *,
            *::before,
            *::after {
                box-sizing: border-box;
            }

            .ticket {
                margin-top: 15px;
                padding: 10px 30px;
                border: none;
                font-size: 20px;
                background-color: $bg-color-white;
                border-radius: 10px;
                color: $color-222;
                border: none;
                outline: none;
                position: relative;
                cursor: pointer;
            }

            .ticket::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: -1;
                background-color: $bg-color-orange;
                border-radius: 10px;
                border: none;
                transition: transform 500ms ease-in-out;
                transform: scaleX(0);
                transform-origin: left;
            }

            .ticket:hover::before,
            .ticket:focus::before {
                transform: scaleX(1);
            }

            .ticket {
                transition: color 300ms ease-in-out;
                z-index: 1;
            }

            .ticket:hover,
            .ticket:focus {
                color: $color-white;
            }
        }

    }
}

// container-4 code............
.container-4 {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    @include display(center);
    margin-top: 5%;
    width: 100%;

    .group {
        @include display(center)
        // display: flex;
        // justify-content: center;
        // align-items: center;

    }

    .group img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        object-fit: cover;
        vertical-align: middle;
        transition: transform 0.4s;
    }

    .group img:hover {
        transform: scale(0.9);
    }

    .line-4 {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        @include display(center);
        background-color: $bg-color-orange;
        height: 3px;
        width: 350px;
        margin-left: 37%;
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 20px;
    }

    h4 {
        color: $color-white;
        font-size: 30px;
        text-align: center;
    }

    .video {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        @include display(center);
        flex-direction: row;
        margin-bottom: 5%;
        padding: 20px;
        gap: 20px;
        color: $color-white;

        .card-video {
            padding: 10px;
            margin-right: 15px;

            iframe {
                width: 609.5px;
                height: 400px;
            }

            h5 {
                font-size: 22px;
            }

            .group {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 10px;

                .span {
                    text-align: start;

                    p {
                        font-size: 18px;
                    }

                    span {
                        font-size: 13px;
                        color:$color-gray;
                    }
                }
            }

        }

    }


}

//container-5 code..........
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.container-5 {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    @extend .flex;
    width: 100%;
    gap: 10px;

    .line-5 {
        width: 90%;
        height: 1px;
        margin-bottom: 5%;
        background-color:$bg-color-line-5 ;
    }

    .question {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // flex-direction: column;
        @extend .flex;
        background-color: $bg-color-222;
        width: 90%;
        height: 30vh;
        padding: 10px;
        border-radius: 15px;
        color: $color-white;

        h5 {
            font-size: 30px;
            color: $color-orange;
            padding: 10px;
        }

        .line-6 {
            width: 250px;
            height: 2px;
            background-color: $bg-color-gray;
        }

        .contact-us {
            margin-top: 15px;
            padding: 10px 30px;
            border: none;
            font-size: 20px;
            background-color: $bg-color-orange;
            border-radius: 10px;
            border: none;
            outline: none;
            transition: transform 0.4s;

            a {
                text-decoration: none;
                color: $color-white;
            }
        }

        .contact-us:hover {
            transform: scale(0.9);
        }

    }

}

// container-6 code........
.container-6 {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    @include display(center);
    margin-top: 10%;

    .social-media {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        @include display(center);
        width: 90%;
        height: 30vh;
        background-color: $bg-color-222;
        border-radius: 15px;
        padding: 15px;
        gap: 35px;
    }

    .social-media img:hover {
        background-color:$bg-color-blue;
        transform: scale(0.9);
    }

    .social-media img {
        vertical-align: middle;
        object-fit: cover;
        width: 90px;
        height: 90px;
        background-color: $bg-color-white;
        padding: 25px;
        transition: transform 0.4s;
        border-radius: 15%;

    }
}