
$color-222:#222;
$color-blue:blue;
$color-red:red;
$color-gray:gray;
$color-white:white;
$color-orange:orangered;
$color-white:white;
$color-gray:gray;
$bg-color-nav:rgb(33, 32, 32);
$bg-color-body:#333;
$bg-color-shap:#000;
$bg-color-line-1:rgba(255, 255, 255, 0.214);
$bg-color-line-5:rgba(255, 255, 255, 0.214);
$bg-color-white:white;
$bg-color-line-2:orangered;
$bg-color-container:gray;
$bg-color-footer:#111;
$bg-color-event:rgb(14, 30, 24);
$bg-color-blue:blue;
$bg-color-111:#111;
$bg-color-222:#222;
$bg-color-333:#333;
$bg-color-gray:gray;
$bg-color-orange:orangered;