.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 20px;
    margin-right: 20px;
    
    h1{
        text-align: center;
        color: $color-orange;
    }
    .card img{
        width: 50%;
        height: 350px;
        object-fit: cover;
    }
    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .main-drum{
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        width: 80%;
        height: 350px;
        background:$bg-color-222;
        color:$color-white;
        p{
            text-align: start;
            font-size: 16px;
            margin-left: 20px;
        }
        h2{
            margin-top: 20px;
            margin-left: 20px;
        }
        
    }

}