// container-2 code..............
// .display{
//      display: flex;
//     justify-content: center;
//     align-items: center;
// }
.container-1 {
    // @extend .display;
    display: flex;
    justify-content: center;
    align-items: center;
    .card img {
        width: 400px;
        height: 300px;
        object-fit: cover;
    }

    .card {
        margin-left: 20px;
        margin-top: 20px;
        padding: 10px;

        p {
            text-align: start;
            color: $color-white;
            font-size: 18px;
        }
    }

}

//container-2 code..................
.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    // @extend .display;
    margin-top: 5%;

    img {
        width: 45%;
        height: 60vh;
        object-fit: cover;
    }

    .main-drum {
        width: 50%;
        height: 60vh;
        background-color: $bg-color-222;

        h2 {
            margin-top: 5%;
            margin-left: 20px;
            color: $color-white;
            font-size: 25px;
        }

        p {
            color: $color-white;
            font-size: 16px;
            margin-top: 5%;
            margin-left: 20px;
        }

        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        .btn {
            margin-top: 15px;
            margin-left: 20px;
            padding: 10px 30px;
            border: none;
            font-size: 20px;
            background-color: $bg-color-white;
            border-radius: 10px;
            border: none;
            outline: none;
            position: relative;
            cursor: pointer;

            a {
                color: $color-222;
                font-weight: lighter;
                text-decoration: none;
            }

        }

        .btn.btn-background-slide::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -1;
            background-color: $bg-color-orange;
            border-radius: 10px;
            border: none;
            transition: transform 500ms ease-in-out;
            transform: scaleX(0);
            transform-origin: left;
        }

        .btn.btn-background-slide:hover::before,
        .btn.btn-background-slide:focus::before {
            transform: scaleX(1);
        }

        .btn.btn-background-slide {
            transition: color 300ms ease-in-out;
            z-index: 1;
        }

        .btn.btn-background-slide:hover,
        .btn.btn-background-slide:focus {
            color: $color-white;
        }

    }

}

// button read more .............
