* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-top: 10%;

    h1 {
        text-align: center;
        font-size: 30px;
        color: $color-orange;
    }
}

.container .heading {
    font-size: 3rem;
    text-align: center;
    padding: 2rem 0;
    text-shadow: 0 .5rem 1rem $bg-color-shap;
    color: white;
}

.container .music-container {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.container .music-container .box {
    display: flex;
    align-items: center;
    height: 9rem;
    width: 80%;
    background-color: #c8c8c8;
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem $bg-color-gray;
    overflow: hidden;
    margin: 2rem;

}

.container .music-container .box .image {
    height: 100%;
    width: 25%;

}

.container .music-container .box .image img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.container .music-container .box .music {
    width: 75%;
}

.container .music-container .box .music audio {
    width: 100%;
    outline: none;
}

.container .music-container .box .music audio::-webkit-media-controls-enclosure {
    background: none;
}


